.gradle

build/
captures/
.externalNativeBuild/
.cxx/
local.properties
Temp/
.navigation/

*.jks
*.keystore
google-services.json 

.idea/
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
*.iml
.DS_Store

*.so
*.o
*.a
.kotlin/
Thumbs.db
*.nnue
